DO_C99_MATH=y
# LDSO_CACHE_SUPPORT is not set
# UCLIBC_STATIC_LDCONFIG is not set
LDSO_RUNPATH=y
LDSO_RUNPATH_OF_EXECUTABLE=y
UCLIBC_HAS_THREADS_NATIVE=y
MALLOC_GLIBC_COMPAT=y
UCLIBC_HAS_OBSTACK=y
UCLIBC_HAS_UTMPX=y
UCLIBC_HAS_UTMP=y
# UCLIBC_HAS_SHADOW is not set
UCLIBC_HAS_PROGRAM_INVOCATION_NAME=y
# UCLIBC_HAS_PTY is not set
# UCLIBC_HAS_TM_EXTENSIONS is not set
# UCLIBC_HAS_TZ_CACHING is not set
# UCLIBC_HAS_TZ_FILE is not set
# UCLIBC_BSD_SPECIFIC is not set
# UCLIBC_HAS_BSD_ERR is not set
# UCLIBC_HAS_ADVANCED_REALTIME is not set
# UCLIBC_HAS_XATTR is not set
# UCLIBC_HAS_PROFILING is not set
# UCLIBC_HAS_CRYPT_IMPL is not set
# UCLIBC_HAS_CRYPT_STUB is not set
# UCLIBC_HAS_COMPAT_RES_STATE is not set
# UCLIBC_HAS_STRING_GENERIC_OPT is not set
UCLIBC_HAS_CTYPE_CHECKED=y
UCLIBC_HAS_HEXADECIMAL_FLOATS=y
UCLIBC_HAS_GLIBC_CUSTOM_PRINTF=y
UCLIBC_HAS_FOPEN_EXCLUSIVE_MODE=y
UCLIBC_HAS_GLIBC_CUSTOM_STREAMS=y
UCLIBC_HAS_PRINTF_M_SPEC=y
# UCLIBC_HAS_REGEX_OLD is not set
# UCLIBC_HAS_FNMATCH_OLD is not set
# UCLIBC_HAS_GLOB is not set
RUNTIME_PREFIX="/"
DEVEL_PREFIX="/usr"
UCLIBC_BUILD_NOW=y
DODEBUG=y
