BR2_mips=y
# BR2_MIPS_SOFT_FLOAT is not set
BR2_DLBACKEND_CURL=y
BR2_JLEVEL=1
BR2_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_4_4=y
BR2_UCLIBC_CONFIG="board/nintendo64/uclibc.config"
# BR2_UCLIBC_INSTALL_UTILS is not set
BR2_BINUTILS_VERSION_2_25_X=y
BR2_GCC_VERSION_5_X=y
BR2_GCC_ENABLE_LTO=y
BR2_PACKAGE_HOST_GDB=y
BR2_PACKAGE_HOST_GDB_TUI=y
BR2_GDB_VERSION_7_10=y
BR2_TARGET_GENERIC_ISSUE="Welcome to N64"
BR2_INIT_BIN_SH=y
BR2_ROOTFS_MERGED_USR=y
# BR2_TARGET_ENABLE_ROOT_LOGIN is not set
# BR2_TARGET_GENERIC_GETTY is not set
# BR2_TARGET_GENERIC_REMOUNT_ROOTFS_RW is not set
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_LOCAL=y
BR2_LINUX_KERNEL_CUSTOM_LOCAL_PATH="n64/linux-stable"
BR2_LINUX_KERNEL_USE_CUSTOM_CONFIG=y
BR2_LINUX_KERNEL_CUSTOM_CONFIG_FILE="board/nintendo64/linux.config"
BR2_LINUX_KERNEL_VMLINUX_BIN=y
BR2_LINUX_KERNEL_DTS_SUPPORT=y
BR2_LINUX_KERNEL_INTREE_DTS_NAME="nintendo/nintendo64"
BR2_BUSYBOX_CUSTOM_LOCAL=y
BR2_BUSYBOX_CUSTOM_LOCAL_PATH="n64/busybox"
BR2_PACKAGE_BUSYBOX_CONFIG="board/nintendo64/busybox.config"
BR2_TARGET_ROOTFS_CPIO=y
# BR2_TARGET_ROOTFS_TAR is not set
BR2_PACKAGE_HOST_LIBDRAGON=y
BR2_LIBDRAGON_LATEST_VERSION=y
